{% include 'partials/toc.html.twig' %}

<article itemscope itemtype="https://schema.org/Article">
	<meta itemprop="mainEntityOfPage" content="{{ page.url(true) }}"/>
	<meta itemprop="author" content="{{ config.site.author.name }}" />
	<meta itemprop="headline" content="{{ page.title }}" />
	<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
		<meta itemprop="name" content="{{ config.site.author.name }}" />
		<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
			<meta itemprop="url" content="{{ url('theme://images/flask.png', true) }}" />
			<meta itemprop="height" content="512" />
			<meta itemprop="width" content="512" />
		</div>
	</div>
	<div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
		<meta itemprop="url" content="{{ url('theme://images/flask.png', true) }}" />
		<meta itemprop="height" content="512" />
		<meta itemprop="width" content="512" />
	</div>

	{% set header_image = page.header.header_image|defined(true) %}
	{% set header_image_width  = page.header.header_image_width|defined(900) %}
	{% set header_image_height = page.header.header_image_height|defined(300) %}
	{% set header_image_file = page.header.header_image_file %}
	{% set readability_index = {0: 'personal notes', 1: 'cryptic', 3: 'technical', 5: 'general'} %}

	<header>
		<h1>{{ page.title }}</h1>
	</header>

	<div class="list-blog-header">
		<a href="https://github.com/tomzx/blog.tomrochette.com-content/commits/master{{ page.url }}" title="View page history on GitHub"><i class="fa fa-history"></i> History</a> /
		<a href="https://github.com/tomzx/blog.tomrochette.com-content/edit/master{{ page.url }}/{{ page.name }}" title="Edit page on GitHub"><i class="fa fa-edit"></i> Edit</a> /
		<a href="{{ page.url }}?format=pdf" title="Download as PDF"><i class="fa fa-file-pdf-o"></i> PDF</a> /
		<a href="{{ page.url }}?format=epub" title="Download as EPUB"><i class="fa fa-file-o"></i> EPUB</a> /
		<a href="{{ page.url }}?format=bib" title="Download BIB bibliography"><i class="fa fa-book"></i> BIB</a> /
		<a class="fa fa-clone" title="Copy to clipboard" onclick="copyToClipboard()"></a>
		<br/>
		{% if page.header.created %}
			<span title="The date of creation of the article"><a href="/metadata-definition#created">Created:</a> <span itemprop="dateCreated https://schema.org/datePublished">{{ page.header.created|date('F j, Y') }}</span></span> /
		{% endif %}
		<span title="The date the article was last edited"><a href="/metadata-definition#updated">Updated:</a> <span itemprop="dateModified">{{ page.date|date('F j, Y') }}</span></span> /
		<span title="The state of completion of the article"><a href="/metadata-definition#status">Status:</a> {{ page.header.taxonomy.status ?: 'unknown'  }}</span> /
		<span title="The readability index of the article"><a href="/metadata-definition#readability">Readability:</a> {{ page.header.taxonomy.readability ? readability_index[page.header.taxonomy.readability] : 'unknown'  }}</span> /
		<span title="At an average of 200 words per minute">{{ ceil(str_word_count(page.rawMarkdown)/200) }} min read (~{{ str_word_count(page.rawMarkdown) }} words)</span>
		<br/>

		{% if page.taxonomy.tag %}
			<span class="tags" itemprop="keywords">
			<i class="fa fa-tag" style="vertical-align: text-bottom" title="Tags"></i>
			{% for tag in page.taxonomy.tag %}
				<a href="/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
			{% endfor %}
		</span>
		{% endif %}
	</div>

	<div class="list-blog-padding" itemprop="articleBody text">
		{{ page.content }}
	</div>
</article>
