{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png', true) }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
	<meta name="author" content="Tom Rochette" />
	{# <meta name="description" content="An open book into a software engineer's mind." /> #}

    {% block stylesheets %}
        {% do assets.addCss('theme://css/pure-0.5.0/grids-min.css', 103) %}
        {% do assets.addCss('theme://css-compiled/nucleus.css',102) %}
        {% do assets.addCss('theme://css-compiled/template.css',101) %}
        {% do assets.addCss('theme://css/font-awesome.min.css',100) %}
        {% do assets.addCss('theme://css/slidebars.min.css') %}
        {% do assets.addCss('theme://css/prism.css') %}
        {% do assets.addCss('theme://css/mermaid.css') %}

        {% if browser.getBrowser == 'msie' and browser.getVersion == 10 %}
            {% do assets.addCss('theme://css/nucleus-ie10.css') %}
        {% endif %}
        {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
            {% do assets.addCss('theme://css/nucleus-ie9.css') %}
            {% do assets.addJs('theme://js/html5shiv-printshiv.min.js') %}
        {% endif %}
        {% do assets.addCss('theme://css/custom.css') %}
    {% endblock %}
    {{ assets.css() }}

{% endblock head %}
{% set toc = page.content|tocify %}
</head>
<body id="top" class="{{ page.header.body_classes }}">
<div itemscope itemtype="https://schema.org/WebSite">
    <meta itemprop="url" content="{{ base_url_absolute }}">
</div>
<div id="sb-site">
    {% block header %}
        <header id="header">
            <div id="logo">
                <h3><a href="{{ base_url == '' ? '/' : base_url }}">{{ config.site.title }}</a></h3>
            </div>
            <div id="navbar">
                {% block header_extra %}{% endblock %}
                {% if config.plugins.langswitcher.enabled %}
                    {% include 'partials/langswitcher.html.twig' %}
                {% endif %}
                {% block header_navigation %}
                    {% include 'partials/navigation.html.twig' %}
                {% endblock %}
                <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
            </div>
        </header>
    {% endblock %}

    {% block showcase %}{% endblock %}

    {% block body %}
        <article id="body" class="{{ class }}">
            {% block content %}{% endblock %}
        </article>
    {% endblock %}

    {% block footer %}
        <footer id="footer">
            <div class="totop">
                <span><a href="#" id="toTop"><i class="fa fa-arrow-up"></i></a></span>
            </div>
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
                    <img alt="Creative Commons License" style="border-width:0; vertical-align: middle;" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
                </a>
                <span class="github"><i class="fa fa-github"></i> <a href="https://github.com/tomzx">@tomzx</a></span>
                <span class="twitter"><i class="fa fa-twitter"></i> <a href="https://twitter.com/Tom_Rochette">@Tom_Rochette</a></span>
                <span class="linkedin"><i class="fa fa-linkedin"></i> <a href="https://ca.linkedin.com/in/tomrochette">Tom Rochette</a></span>
            </p>
        </footer>
    {% endblock %}
</div>
{% block sidebar_navigation %}
<div class="sb-slidebar sb-left sb-width-thin">
    <div id="panel">
        {% include 'partials/navigation.html.twig' %}
        <ul class="navigation toc">
            <li class="toctitle"><a href="#">Table of content</a></li>
            {% for entry in toc %}
                <li><a href="#{{ entry.id }}">{{ entry.text|strip_tags }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block javascripts %}
	{% do assets.addJs('jquery') %}
	{% do assets.addDeferJs('theme://js/modernizr.custom.71422.js') %}
	{% do assets.addDeferJs('theme://js/antimatter.js') %}
	{% do assets.addDeferJs('theme://js/slidebars.min.js') %}
	{% do assets.addDeferJs('theme://js/prism.js') %}
	{% do assets.addDeferJs('theme://js/mermaid.min.js') %}
{% endblock %}
{{ assets.js() }}

{% block bottom %}
    {{ assets.js('bottom') }}
    <script>
        $(function () {
            $(document).ready(function() {
                $.slidebars({
                    hideControlClasses: true,
                    scrollLock: true
                });
            });
        });
    </script>
{% endblock %}

<script>
    $(window).on("load", function() {
        mermaid.init({startOnLoad:true}, 'code.language-mermaid');
    });
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48293696-1', 'auto');
    ga('send', 'pageview');
</script>
<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//www.tomrochette.com/stats/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="//www.tomrochette.com/stats/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</body>
</html>
