<div class="list-item">

	{% set header_image = page.header.header_image|defined(true) %}
	{% set header_image_width  = page.header.header_image_width|defined(900) %}
	{% set header_image_height = page.header.header_image_height|defined(300) %}
	{% set header_image_file = page.header.header_image_file %}

	<div class="list-blog-header">
		<span class="list-blog-date">
			<span>{{ page.header.created|date("d") }}</span>
			<em>{{ page.header.created|date("M") }}</em>
			<em>{{ page.header.created|date("Y") }}</em>
		</span>
		{% if page.header.link %}
			<h1>
				{% if page.header.continue_link is not sameas(false) %}
				<a href="{{ page.url }}"><i class="fa fa-angle-double-right"></i></a>
				{% endif %}
				<a href="{{ page.header.link }}">{{ page.title }}</a>
			</h1>
		{% else %}
			<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
		{% endif %}
		<a href="https://github.com/tomzx/blog.tomrochette.com-content/commits/master{{ page.url }}" title="View page history on GitHub"><i class="fa fa-history"></i> History</a> /
		<a href="https://github.com/tomzx/blog.tomrochette.com-content/edit/master{{ page.url }}/{{ page.name }}" title="Edit page on GitHub"><i class="fa fa-edit"></i> Edit</a> /
		<a href="{{ page.url }}?format=pdf" title="Download as PDF"><i class="fa fa-file-pdf-o"></i> PDF</a> /
		<a href="{{ page.url }}?format=epub" title="Download as EPUB"><i class="fa fa-file-o"></i> EPUB</a> /
		<a href="{{ page.url }}?format=bib" title="Download BIB bibliography"><i class="fa fa-book"></i> BIB</a> /
		<span title="At an average of 200 words per minute">{{ ceil(str_word_count(page.content)/200) }} min read (~{{ str_word_count(page.content) }} words)</span>
		<br/>

		{% if page.taxonomy.tag %}
		<span class="tags">
			<i class="fa fa-tag" style="vertical-align: text-bottom" title="Tags"></i>
			{% for tag in page.taxonomy.tag %}
			<a href="{{ blog.url }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
			{% endfor %}
		</span>
		{% endif %}
		{% if header_image %}
			{% if header_image_file %}
				{% set header_image_media = page.media.images[header_image_file] %}
			{% else %}
				{% set header_image_media = page.media.images|first %}
			{% endif %}
			{{ header_image_media.cropZoom(header_image_width, header_image_height).html }}
		{% endif %}

	</div>

	<div class="list-blog-padding">

		{{ page.content }}

	</div>
</div>
