{% set taxlist = taxonomylist.get({type: 'post'}) %}

{% if taxlist %}
<span class="categories">
    <ul>
    {% for taxon,value in taxlist[category]|ksort %}
        {% set active = uri.param(category) == tax ? 'active' : '' %}
        <li>
            <a class="{{ active }}" href="{{ base_url }}/{{ category }}{{ config.system.param_sep }}{{ taxon|e('url') }}">{{ taxon }}
            </a> ({{ value }})
        </li>
    {% endfor %}
    </ul>
</span>
{% endif %}
