{% set taxonomy_list = taxonomylist.get() %}

{% if taxonomy_list %}
<span class="tags">
    {% for taxon, value in taxonomy_list[taxonomy] %}
        {% set active = uri.param(taxonomy) == tax ? 'active' : '' %}
        <a class="{{ active }}" href="{{ base_url }}/{{ taxonomy }}{{ config.system.param_sep }}{{ taxon }}">{{ taxon }} ({{ value }})</a>
    {% endfor %}
</span>
{% endif %}
